<h3 align="center">Кошик</h3>


<table border="3">
    <caption align="center">Предмети в кошику</caption>
   <tr>
      <th>Назва</th>
      <th>Категорія</th>
      <th>Ціна</th>
      <th>Власник</th>
      <th>Видалити</th>
    </tr>

</table>

  <caption align="center">Кошик пустий</caption>
