<body>
  <center><h3>Робочий кабінет</h3></center>
  <div class="container-narrow">
      	<center><div class="masthead">
       		<ul class="nav nav-pills pull-center">
            <li><a href="/work/commons">Мої товари/послуги</a></li>
         	  <li><a href="/work/basket">Кошик</a></li>
            <li><a href="/work/settings">Налаштування</a></li>
            <li><a href="/work/profile">Профіль</a></li>
            <li><a href="/index">Головна</a></li>
         </h3>
    	</div></center>
  </div>
</body>
